# Agenda
1. Recap: list and loops // Questions about assignment
2. List comprehension
3. Dictionaries
4. Pandas datatypes
5. Read data with Pandas
6. Explore data with Pandas
7. Work with missing values


# List comprehension

In [1]:
my_list = ['wordA', 'wordB']

#normal loop
new_list1 = []
for item in my_list:
    new_list1.append(item.upper())

#list comprehension
new_list2 = [item.upper() for item in my_list]

print(new_list1, new_list2)

['WORDA', 'WORDB'] ['WORDA', 'WORDB']

# Python dictionaries
- Dictionary is a python datatype that is used to store key-value pairs. It enables you to quickly retrieve, add, remove, modify values using a key. Dictionary is very similar to what we call associative array or hash in other languages.
- {} and seprated by ,

Dictionaries and lists share the following characteristics:

- Both are mutable (can be changed)
- Both are dynamic. They can grow and shrink as needed.
- Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.
- Dictionaries differ from lists primarily in how elements are accessed:

List elements are accessed by their position in the list, via indexing.
Dictionary elements are accessed via keys.

In [1]:
mydict = {"name": "Demi",
         "birth_year": 1994, 
          "hobby": ["programming", "swimming"]}

In [2]:
print(mydict['name'])

Demi

In [3]:
mydict[0]

KeyError: 0

In [4]:
mydict.keys()

dict_keys(['name', 'birth_year', 'hobby'])

In [5]:
mydict.values()

dict_values(['Demi', 1994, ['programming', 'swimming']])

In [6]:
for key, value in mydict.items():
    print(key.upper())

NAME
BIRTH_YEAR
HOBBY

In [7]:
for item in mydict.values():
    print(item)

Demi
1994
['programming', 'swimming']

In [8]:
#change a value
mydict['name'] = "DeeJay"

In [9]:
mydict.items()

dict_items([('name', 'DeeJay'), ('birth_year', 1994), ('hobby', ['programming', 'swimming'])])

In [11]:
# dictonaries can contain any data type
mydict = {"names": ["Demi", "DeeJay"],
         "birth_year": 1994, 
         "hobby": ["programming", "yoga", "drinking wine"]}

# Exercise
- Create a dictionary about yourself, list at least 2 hobbies
- Print only your second hobby
- What is your birth_year?

In [10]:
my_dict_Gabriela = {'name': 'Gabriela',
                    'birth_year': '1990',
                    'hobbies': ['programming', 'going shopping', 'listening to music']    
                    }

In [16]:
print(my_dict_Gabriela['hobbies'][1])

going shopping

In [17]:
print(my_dict_Gabriela['birth_year'])

1990

# Pandas
- Pandas stands for â€œPython Data Analysis Library"
- pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, it takes data (like a CSV or TSV file, or a SQL database) and creates a Python object with rows and columns called dataframe that looks very similar to table in a statistical software (think Excel or SPSS for example). 
- similar to R
- pandas is a libary or module, therefore if we want to use it, we need to instal and import it. You can make use of the functions that are defined in the module by calling them with . (dot), like you did with list.split() or string.strip()

In [1]:
# Install a conda package in the current Jupyter kernel
import sys
!conda install --yes --prefix {sys.prefix} pandas

Collecting package metadata (current_repodata.jsodone
Solving envidone

## Package Plan ##

  environment location: /usr/local/Caskroom/miniconda/base/envs/testj

  added / updated specs:
    - pandas


The following NEW packages will be INSTALLED:

  blas               pkgs/main/osx-64::blas-1.0-mkl
  intel-openmp       pkgs/main/osx-64::intel-openmp-2020.1-216
  libgfortran        pkgs/main/osx-64::libgfortran-3.0.1-h93005f0_2
  mkl                pkgs/main/osx-64::mkl-2019.4-233
  mkl-service        pkgs/main/osx-64::mkl-service-2.3.0-py37hfbe908c_0
  mkl_fft            pkgs/main/osx-64::mkl_fft-1.0.15-py37h5e564d8_0
  mkl_random         pkgs/main/osx-64::mkl_random-1.1.0-py37ha771720_0
  numpy              pkgs/main/osx-64::numpy-1.18.1-py37h7241aed_0
  numpy-base         pkgs/main/osx-64::numpy-base-1.18.1-py37h6575580_1
  pandas             pkgs/main/osx-64::pandas-1.0.3-py37h6c726b0_0
  pytz               pkgs/main/noarch::pytz-2020.1-py_0


Preparing transaction:done
Verifying transact| WARNING conda.core.path_actions:verify(963): Unable to create environments file. Path not writable.
  environment location: /Users/alyonagalyeva/.conda/environments.txt

done
Execut\ WARNING conda.core.envs_manager:register_env(52): Unable to register environment. Path not writable or missing.
  environment location: /usr/local/Caskroom/miniconda/base/envs/testj
  registry file: /Users/alyonagalyeva/.conda/environments.txt
done

- after the installation we need to import the libary, you need to do import for every Jupyter notebook. 
- `as pd` is an alias, if you do not do 'as' you will have to type pandas everytime. Programmers are lazy, so we use shortcuts such as pd

In [26]:
import pandas as pd

# Pandas datatypes
There are two core objects in Pandas: the DataFrame and the Series.

### Series
Pandas Series is a one-dimensional labeled array, capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing, but a column in an Excel sheet. Like in Excel every row in the sheet has 
- an index
- a value or datapoint (if you entered a value)

<img src="data/images/series-index.png" width="300"/>

**img from: https://codechalleng.es/bites/251/

*** Did we already told you, you can do amazing stuff with markdown? https://about.gitlab.com/handbook/markdown-guide/

In [3]:
# assign the variable s to Series
s = pd.Series(data, index=index)

NameError: name 'data' is not defined

In [19]:
# lets define data
data = [2,4,6,5]

In [20]:
# lets try it again
s = pd.Series(data, index=index)

NameError: name 'pd' is not defined

In [21]:
# we need to have the same amount of indexes as data points
my_index = [0,1,2,3]

In [22]:
# try to change my_index
pd.Series(data, index=my_index)

NameError: name 'pd' is not defined

# Exercise
How can you use python functions to define the index? Remember, you're lazy!
- Hint: 
    - Length of the data and the index needs to be the same
    - Have you used the range function before?

In [24]:
range(0, len(data)-1)

range(0, 3)

### DataFrame
A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.
- not limited to integers also strings 

<img src="data/images/Dataframe-expl.png" width="500"/>
<img src="data/images/Dataframe.png" width="500"/>

** image from = https://www.geeksforgeeks.org/ and https://www.learndatasci.com/
For example, consider the following simple DataFrame

In [29]:
df_with_numbers = pd.DataFrame({'Yes': [53, 21], 'No': [13, 1]})
df_with_numbers

   No  Yes
0  13   53
1   1   21

In [30]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Boring.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.       Boring.

# Read data
Being able to create a DataFrame or Series manually is handy. But, most of the time, we won't actually create our own data manually. Instead, we'll be working with data that already exists.

Data can be stored in any number of different forms and formats. By far the most basic is a CSV file. When you open a CSV file you get something that looks like this:

Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11

Download data from Kaggle or take a look at this data descriprion:
https://www.kaggle.com/kimjihoo/ds4c-what-is-this-dataset-detailed-description

In [31]:
# read the data and store it in df variable
path = 'data/coronavirusdataset/Case.csv'
df = pd.read_csv(path)

# Viewing and Inspecting Data
Now that youâ€™ve loaded your data, itâ€™s time to take a look at it. How does the dataframe look like? Running the name of the data frame would give you the entire table, but you can also use functions

In [32]:
# get the first n rows with df.head(n), or the last n rows with df.tail(n)
df.head()

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20,37.592888,127.056766
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165
4,1000005,Seoul,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403

In [33]:
len(df)

112

In [34]:
# check the number of rows and columns
df.shape

(112, 8)

In [37]:
# important to check non-null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 8 columns):
case_id           112 non-null int64
province          112 non-null object
city              112 non-null object
group             112 non-null bool
infection_case    112 non-null object
confirmed         112 non-null int64
latitude          112 non-null object
longitude         112 non-null object
dtypes: bool(1), int64(2), object(5)
memory usage: 6.3+ KB

In [36]:
# check only the columns
df.columns

Index(['case_id', 'province', 'city', 'group', 'infection_case', 'confirmed',
       'latitude', 'longitude'],
      dtype='object')

In [38]:
df.group
#df['group']

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8      False
9      False
10     False
11      True
12      True
13      True
14      True
15      True
16      True
17     False
18     False
19     False
20      True
21      True
22      True
23      True
24      True
25      True
26     False
27     False
28     False
29      True
       ...
82      True
83      True
84     False
85     False
86     False
87      True
88      True
89      True
90      True
91      True
92      True
93      True
94      True
95      True
96     False
97     False
98     False
99      True
100     True
101     True
102     True
103     True
104     True
105     True
106    False
107    False
108    False
109    False
110    False
111    False
Name: group, Length: 112, dtype: bool

In [39]:
df['city'].describe()

count     112
unique     34
top         -
freq       50
Name: city, dtype: object

In [40]:
df['province'].unique()

array(['Seoul', 'Busan', 'Daegu', 'Gwangju', 'Incheon', 'Daejeon',
       'Ulsan', 'Sejong', 'Gyeonggi-do', 'Gangwon-do',
       'Chungcheongbuk-do', 'Chungcheongnam-do', 'Jeollabuk-do',
       'Jeollanam-do', 'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Jeju-do'],
      dtype=object)

In [41]:
# view unique values and counts for a series (like a column or a few columns)
df['city'].value_counts()

-                  50
from other city    22
Gyeongsan-si        3
Sejong              2
Seongnam-si         2
Seo-gu              2
Dalseong-gun        2
Geochang-gun        2
Guro-gu             2
Suwon-si            1
Cheongdo-gun        1
Seosan-si           1
Bonghwa-gun         1
Yechun-gun          1
Dongdaemun-gu       1
Wonju-si            1
Jin-gu              1
Jung-gu             1
Goesan-gun          1
Changwon-si         1
Seongdong-gu        1
Dong-gu             1
Suyeong-gu          1
Jinju-si            1
Dongnae-gu          1
Haeundae-gu         1
Jongno-gu           1
Eunpyeong-gu        1
Chilgok-gun         1
Nam-gu              1
Changnyeong-gun     1
Muan-gun            1
Cheonan-si          1
Uijeongbu-si        1
Name: city, dtype: int64

# Exercise
1. How many individual provinces does this dataset contain?
2. Display the top three MENTIONED provinces

In [45]:
df['province'].value_counts().head(3)

Gyeongsangbuk-do    12
Seoul               11
Gyeongsangnam-do    10
Name: province, dtype: int64

In [47]:
len(df['province'].unique())

17

# Slices

In [48]:
df[1:4]

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20,37.592888,127.056766
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165

In [49]:
cases_in_gurogu = df[df.city == 'Guro-gu']
cases_in_gurogu

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343

In [50]:
df.confirmed.sum()

9794

# Exercise
1. How many confirmed cases are there in Eunpyeong-gu ?

In [53]:
df[df.city == 'Eunpyeong-gu']['confirmed'].sum()

14

# Missing data
Entries with missing values are given the value NaN, short for "Not a Number". For technical reasons these NaN values are always float64 dtype.

### Copying dataframe
In Pandas, indexing a DataFrame returns a reference to the initial DataFrame. By changing the subset we change the initial DataFrame. Thus, you'd want to use the copy if you want to make sure the initial DataFrame shouldn't be changed. Consider the following code:

In [54]:
# index, column
missing_data_df = df.copy()

In [55]:
missing_data_df

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20,37.592888,127.056766
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165
4,1000005,Seoul,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403
5,1000006,Seoul,Jongno-gu,True,Jongno Community Center,10,37.57681,127.006
6,1000007,Seoul,Jung-gu,True,Jung-gu Fashion Company,7,37.562405,126.984377
7,1000008,Seoul,from other city,True,Shincheonji Church,8,-,-
8,1000009,Seoul,-,False,overseas inflow,313,-,-
9,1000010,Seoul,-,False,contact with patient,18,-,-
10,1000011,Seoul,-,False,etc,23,-,-
11,1100001,Busan,Dongnae-gu,True,Onchun Church,39,35.21628,129.0771
12,1100002,Busan,from other city,True,Shincheonji Church,12,-,-
13,1100003,Busan,Suyeong-gu,True,Suyeong-gu Kindergarten,5,35.16708,129.1124
14,1100004,Busan,Haeundae-gu,True,Haeundae-gu Catholic Church,6,35.20599,129.1256
15,1100005,Busan,Jin-gu,True,Jin-gu Academy,4,35.17371,129.0633
16,1100006,Busan,from other city,True,Cheongdo Daenam Hospital,1,-,-
17,1100007,Busan,-,False,overseas inflow,21,-,-
18,1100008,Busan,-,False,contact with patient,18,-,-
19,1100009,Busan,-,False,etc,31,-,-
20,1200001,Daegu,Nam-gu,True,Shincheonji Church,4510,35.84008,128.5667
21,1200002,Daegu,Dalseong-gun,True,Second Mi-Ju Hospital,195,35.857375,128.466651
22,1200003,Daegu,Seo-gu,True,Hansarang Convalescent Hospital,127,35.885592,128.556649
23,1200004,Daegu,Dalseong-gun,True,Daesil Convalescent Hospital,100,35.857393,128.466653
24,1200005,Daegu,Dong-gu,True,Fatima Hospital,36,35.88395,128.624059
25,1200006,Daegu,from other city,True,Cheongdo Daenam Hospital,2,-,-
26,1200007,Daegu,-,False,overseas inflow,21,-,-
27,1200008,Daegu,-,False,contact with patient,922,-,-
28,1200009,Daegu,-,False,etc,721,-,-
29,1300001,Gwangju,from other city,True,Shincheonji Church,9,-,-
...,...,...,...,...,...,...,...,...
82,5100001,Jeollanam-do,Muan-gun,True,Manmin Central Church,2,35.078825,126.316746
83,5100002,Jeollanam-do,from other city,True,Shincheonji Church,1,-,-
84,5100003,Jeollanam-do,-,False,overseas inflow,8,-,-
85,5100004,Jeollanam-do,-,False,contact with patient,2,-,-
86,5100005,Jeollanam-do,-,False,etc,1,-,-
87,6000001,Gyeongsangbuk-do,from other city,True,Shincheonji Church,566,-,-
88,6000002,Gyeongsangbuk-do,Cheongdo-gun,True,Cheongdo Daenam Hospital,120,35.64887,128.7368
89,6000003,Gyeongsangbuk-do,Bonghwa-gun,True,Bonghwa Pureun Nursing Home,68,36.92757,128.9099
90,6000004,Gyeongsangbuk-do,from other city,True,Pilgrimage to Israel,49,-,-
91,6000005,Gyeongsangbuk-do,Chilgok-gun,True,Milal Shelter,36,36.0581,128.4941
92,6000006,Gyeongsangbuk-do,Gyeongsan-si,True,Gyeongsan Seorin Nursing Home,66,35.782149,128.801498
93,6000007,Gyeongsangbuk-do,Yechun-gun,True,Yechun-gun,37,36.646845,128.437416
94,6000008,Gyeongsangbuk-do,Gyeongsan-si,True,Gyeongsan Jeil Silver Town,17,35.84819,128.7621
95,6000009,Gyeongsangbuk-do,Gyeongsan-si,True,Gyeongsan Cham Joeun Community Center,16,35.82558,128.7373
96,6000010,Gyeongsangbuk-do,-,False,overseas inflow,10,-,-
97,6000011,Gyeongsangbuk-do,-,False,contact with patient,191,-,-
98,6000012,Gyeongsangbuk-do,-,False,etc,134,-,-
99,6100001,Gyeongsangnam-do,from other city,True,Shincheonji Church,32,-,-
100,6100002,Gyeongsangnam-do,Geochang-gun,True,Geochang Church,10,35.68556,127.9127
101,6100003,Gyeongsangnam-do,Geochang-gun,True,Geochang-gun Woongyang-myeon,8,35.805681,127.917805
102,6100004,Gyeongsangnam-do,Jinju-si,True,Wings Tower,10,35.164845,128.126969
103,6100005,Gyeongsangnam-do,Changwon-si,True,Hanmaeum Changwon Hospital,7,35.22115,128.6866
104,6100006,Gyeongsangnam-do,Changnyeong-gun,True,Changnyeong Coin Karaoke,7,35.54127,128.5008
105,6100007,Gyeongsangnam-do,from other city,True,Onchun Church,2,-,-
106,6100008,Gyeongsangnam-do,-,False,overseas inflow,15,-,-
107,6100009,Gyeongsangnam-do,-,False,contact with patient,6,-,-
108,6100010,Gyeongsangnam-do,-,False,etc,18,-,-
109,7000001,Jeju-do,-,False,overseas inflow,9,-,-
110,7000002,Jeju-do,-,False,contact with patient,0,-,-
111,7000003,Jeju-do,-,False,etc,4,-,-

In [56]:
# create missing values
missing_data_df.at[0, 'confirmed'] = None

In [57]:
missing_data_df

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,NaN,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20.0,37.592888,127.056766
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41.0,37.481059,126.894343
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14.0,37.63369,126.9165
4,1000005,Seoul,Seongdong-gu,True,Seongdong-gu APT,13.0,37.55713,127.0403
5,1000006,Seoul,Jongno-gu,True,Jongno Community Center,10.0,37.57681,127.006
6,1000007,Seoul,Jung-gu,True,Jung-gu Fashion Company,7.0,37.562405,126.984377
7,1000008,Seoul,from other city,True,Shincheonji Church,8.0,-,-
8,1000009,Seoul,-,False,overseas inflow,313.0,-,-
9,1000010,Seoul,-,False,contact with patient,18.0,-,-
10,1000011,Seoul,-,False,etc,23.0,-,-
11,1100001,Busan,Dongnae-gu,True,Onchun Church,39.0,35.21628,129.0771
12,1100002,Busan,from other city,True,Shincheonji Church,12.0,-,-
13,1100003,Busan,Suyeong-gu,True,Suyeong-gu Kindergarten,5.0,35.16708,129.1124
14,1100004,Busan,Haeundae-gu,True,Haeundae-gu Catholic Church,6.0,35.20599,129.1256
15,1100005,Busan,Jin-gu,True,Jin-gu Academy,4.0,35.17371,129.0633
16,1100006,Busan,from other city,True,Cheongdo Daenam Hospital,1.0,-,-
17,1100007,Busan,-,False,overseas inflow,21.0,-,-
18,1100008,Busan,-,False,contact with patient,18.0,-,-
19,1100009,Busan,-,False,etc,31.0,-,-
20,1200001,Daegu,Nam-gu,True,Shincheonji Church,4510.0,35.84008,128.5667
21,1200002,Daegu,Dalseong-gun,True,Second Mi-Ju Hospital,195.0,35.857375,128.466651
22,1200003,Daegu,Seo-gu,True,Hansarang Convalescent Hospital,127.0,35.885592,128.556649
23,1200004,Daegu,Dalseong-gun,True,Daesil Convalescent Hospital,100.0,35.857393,128.466653
24,1200005,Daegu,Dong-gu,True,Fatima Hospital,36.0,35.88395,128.624059
25,1200006,Daegu,from other city,True,Cheongdo Daenam Hospital,2.0,-,-
26,1200007,Daegu,-,False,overseas inflow,21.0,-,-
27,1200008,Daegu,-,False,contact with patient,922.0,-,-
28,1200009,Daegu,-,False,etc,721.0,-,-
29,1300001,Gwangju,from other city,True,Shincheonji Church,9.0,-,-
...,...,...,...,...,...,...,...,...
82,5100001,Jeollanam-do,Muan-gun,True,Manmin Central Church,2.0,35.078825,126.316746
83,5100002,Jeollanam-do,from other city,True,Shincheonji Church,1.0,-,-
84,5100003,Jeollanam-do,-,False,overseas inflow,8.0,-,-
85,5100004,Jeollanam-do,-,False,contact with patient,2.0,-,-
86,5100005,Jeollanam-do,-,False,etc,1.0,-,-
87,6000001,Gyeongsangbuk-do,from other city,True,Shincheonji Church,566.0,-,-
88,6000002,Gyeongsangbuk-do,Cheongdo-gun,True,Cheongdo Daenam Hospital,120.0,35.64887,128.7368
89,6000003,Gyeongsangbuk-do,Bonghwa-gun,True,Bonghwa Pureun Nursing Home,68.0,36.92757,128.9099
90,6000004,Gyeongsangbuk-do,from other city,True,Pilgrimage to Israel,49.0,-,-
91,6000005,Gyeongsangbuk-do,Chilgok-gun,True,Milal Shelter,36.0,36.0581,128.4941
92,6000006,Gyeongsangbuk-do,Gyeongsan-si,True,Gyeongsan Seorin Nursing Home,66.0,35.782149,128.801498
93,6000007,Gyeongsangbuk-do,Yechun-gun,True,Yechun-gun,37.0,36.646845,128.437416
94,6000008,Gyeongsangbuk-do,Gyeongsan-si,True,Gyeongsan Jeil Silver Town,17.0,35.84819,128.7621
95,6000009,Gyeongsangbuk-do,Gyeongsan-si,True,Gyeongsan Cham Joeun Community Center,16.0,35.82558,128.7373
96,6000010,Gyeongsangbuk-do,-,False,overseas inflow,10.0,-,-
97,6000011,Gyeongsangbuk-do,-,False,contact with patient,191.0,-,-
98,6000012,Gyeongsangbuk-do,-,False,etc,134.0,-,-
99,6100001,Gyeongsangnam-do,from other city,True,Shincheonji Church,32.0,-,-
100,6100002,Gyeongsangnam-do,Geochang-gun,True,Geochang Church,10.0,35.68556,127.9127
101,6100003,Gyeongsangnam-do,Geochang-gun,True,Geochang-gun Woongyang-myeon,8.0,35.805681,127.917805
102,6100004,Gyeongsangnam-do,Jinju-si,True,Wings Tower,10.0,35.164845,128.126969
103,6100005,Gyeongsangnam-do,Changwon-si,True,Hanmaeum Changwon Hospital,7.0,35.22115,128.6866
104,6100006,Gyeongsangnam-do,Changnyeong-gun,True,Changnyeong Coin Karaoke,7.0,35.54127,128.5008
105,6100007,Gyeongsangnam-do,from other city,True,Onchun Church,2.0,-,-
106,6100008,Gyeongsangnam-do,-,False,overseas inflow,15.0,-,-
107,6100009,Gyeongsangnam-do,-,False,contact with patient,6.0,-,-
108,6100010,Gyeongsangnam-do,-,False,etc,18.0,-,-
109,7000001,Jeju-do,-,False,overseas inflow,9.0,-,-
110,7000002,Jeju-do,-,False,contact with patient,0.0,-,-
111,7000003,Jeju-do,-,False,etc,4.0,-,-

Pandas provides some methods specific to manipulating the missing data. To select NaN entries you can use pd.isnull() (or its companion pd.notnull()).

In [62]:
#df[pd.isnull(df.city)]
# df.isnull().values.any()
# df.info

missing_data_df.isnull().values.any()
#missing_data_df.info()

True

Replacing missing values is a common operation. Pandas provides a really handy method for this problem: fillna~(). 
fillna() provides a few different strategies for mitigating such data. For example, we can simply replace each NaN with an "Unknown":

In [60]:
# if any non value exsist, fill with unknown
df.city.fillna("Unknown")

0              Guro-gu
1        Dongdaemun-gu
2              Guro-gu
3         Eunpyeong-gu
4         Seongdong-gu
5            Jongno-gu
6              Jung-gu
7      from other city
8                    -
9                    -
10                   -
11          Dongnae-gu
12     from other city
13          Suyeong-gu
14         Haeundae-gu
15              Jin-gu
16     from other city
17                   -
18                   -
19                   -
20              Nam-gu
21        Dalseong-gun
22              Seo-gu
23        Dalseong-gun
24             Dong-gu
25     from other city
26                   -
27                   -
28                   -
29     from other city
            ...
82            Muan-gun
83     from other city
84                   -
85                   -
86                   -
87     from other city
88        Cheongdo-gun
89         Bonghwa-gun
90     from other city
91         Chilgok-gun
92        Gyeongsan-si
93          Yechun-gun
94        Gyeongsan-si
95        Gyeongsan-si
96                   -
97                   -
98                   -
99     from other city
100       Geochang-gun
101       Geochang-gun
102           Jinju-si
103        Changwon-si
104    Changnyeong-gun
105    from other city
106                  -
107                  -
108                  -
109                  -
110                  -
111                  -
Name: city, Length: 112, dtype: object

# Exercise
1. fill the missing values of the confirmed cases with the average of the confirmed cases

In [65]:
missing_data_df = missing_data_df['confirmed'].fillna(0)

missing_data_df.isnull().values.any()

False

Missing values are not always NaN, they can also be ["n/a", "na", "-", ""]. If needed we can also replace these values.

In [33]:
# df.latitude
df.latitude.unique() # check the -

array(['37.508163', '37.592888', '37.481059', '37.63369', '37.55713',
       '37.57681', '37.562405', '-', '35.21628', '35.16708', '35.20599',
       '35.17371', '35.84008', '35.857375', '35.885592', '35.857393',
       '35.88395', '36.358123', '36.504713', '36.48025', '37.455687',
       '37.758635', '37.38833', '37.2376', '37.342762', '36.82422',
       '36.81503', '37.000354', '35.078825', '35.64887', '36.92757',
       '36.0581', '35.782149', '36.646845', '35.84819', '35.82558',
       '35.68556', '35.805681', '35.164845', '35.22115', '35.54127'],
      dtype=object)

In [66]:
# replace values
df['latitude_changed'] = df.latitude.replace('-', "unknown")

df.head()

,case_id,province,city,group,infection_case,confirmed,latitude,longitude,latitude_changed
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387,37.508163
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20,37.592888,127.056766,37.592888
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343,37.481059
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165,37.63369
4,1000005,Seoul,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403,37.55713

# Study materials
- Dictionaries: https://realpython.com/python-dicts/
- List comprehension: https://www.pythonforbeginners.com/basics/list-comprehensions-in-python
- Missing values: https://towardsdatascience.com/data-cleaning-with-python-and-pandas-detecting-missing-values-3e9c6ebcf78b
- Can't wait for more pandas? https://github.com/justmarkham/pandas-videos (do not worry; we will cover most of it next week)

# Next lesson
- More dataframe exercises and transformations
- Apply
- Numpy